body {
    margin: 0;
    background-color: #f7f7f7;
}

a {
    color: #5288bb;
    font-weight: 500;
    text-decoration: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } 

.swal2-popup {
    font-family: 'Roboto', 'sans-seriff';
}